<!DOCTYPE html>
<html data-dpr="2">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>移动端一体化解决方案</title>
    <link rel="stylesheet" href="/online/css/index.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="yo-flex" id="wrapper">
        <header class="yo-header m-header yo-header-index">
            <h2 class="title">Touch开发 {{move}}</h2>
        </header>
        <content :move.sync="move"></content>
    </div>
    <script src="/online/js/zindex.js" charset="utf-8"></script>
</body>
</html>
